@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Poppins", sans-serif;
  background: #ff7979 url("/public/images/bg-intro-mobile.png") no-repeat 0 0;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Terms {
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: scroll;
}
.Home {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8.8rem 0;
}
.Home div {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media (min-width: 90em) {
  body {
    background: #ff7979 url("/public/images/bg-intro-desktop.png") no-repeat 0 0;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }
  .Home {
    flex-direction: row;
    gap: 4.5rem;
    padding: 12.1rem 0 5rem 0;
    justify-content: center;
    align-items: center;
  }
  .Home div {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .Terms {
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: scroll;
  }
}
