@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Poppins", sans-serif;
  background: #ff7979 url("/public/images/bg-intro-desktop.png") no-repeat 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8.8rem;
  padding-bottom: 6.4rem;
}

@media (min-width: 90em) {
  .App {
    flex-direction: row;
    gap: 4.5rem;
    padding: 12.1rem 16.5rem;
  }
}
